body {
    background-color: rgb(142, 194, 201);
  }

h1 {
    color: blue;
  }


p {
    color: red;
  }

.canvas {
    border: 1px solid black;
    background-color: rgb(0, 0, 0);
    
    display: block;
    margin: 0 auto;
    width: 50%;
}


.select_screen {
    border: 1px solid black;
    background-color: rgb(169, 183, 231);
    
    
    display: block;
    margin: 10px 10px 10px 50%;
    
    /*
    width: 20%;
    display: block;
    margin: 0 auto;
    */
}


.select_cell {
    border: 1px solid black;
    background-color: rgb(169, 183, 231);
    
    
    display: block;
    margin: 10px 10px 10px 50%;
    
    /*
    width: 20%;
    display: block;
    margin: 0 auto;
    */
}